{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Password Changed</title>
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
  <div class="container sign-in">
    <div class="row">
      <div class="col align-items-center flex-col sign-in">
        <div class="form-wrapper align-items-center">
          <div class="form sign-in">
            <h2>Password changed successfully</h2>
            <p>You can now log in with your new password.</p>
            <p><a href="{% url 'account:register' %}">Go to login</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
