{% load i18n %}{% autoescape off %}
{% blocktrans %}Hello,{% endblocktrans %}

{% blocktrans %}You are receiving this email because you requested a password reset for your user account at our site.{% endblocktrans %}

{% blocktrans %}Please go to the following page and choose a new password:{% endblocktrans %}

{{ protocol }}://{{ domain }}{% url 'account:password_reset_confirm' uidb64=uid token=token %}

{% blocktrans %}If you did not request a password reset, please ignore this email.{% endblocktrans %}
{% blocktrans %}Your password will not be changed until you click the link and create a new one.{% endblocktrans %}

{% blocktrans %}Sincerely,
The Team{% endblocktrans %}

{% endautoescape %}