{% load static %}
{% include 'main/message.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Set New Password</title>
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
  <div class="container sign-in">
    <div class="row">
      <div class="col align-items-center flex-col sign-in">
        <div class="form-wrapper align-items-center">
          <div class="form sign-in">
            <h2>Enter new password</h2>
            <form method="post">
                {% csrf_token %}
                
                {% if form.errors %}
                    <div class="form-errors">
                    {% for field in form %}
                        {% for error in field.errors %}
                        <p>{{ error }}</p>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                    </div>
                {% endif %}

                <div class="input-group">
                    <i class="bx bxs-lock-alt"></i>
                    {{ form.new_password1 }}
                </div>
                <div class="input-group">
                    <i class="bx bxs-lock-alt"></i>
                    {{ form.new_password2 }}
                </div>
                <button type="submit">Change password</button>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
  {% include 'main/message.html' %}
</body>
</html>
