{% load static %}
{% include 'main/message.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Reset Password</title>
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
  <div class="container sign-in">
    <div class="row">
      <div class="col align-items-center flex-col sign-in">
        <div class="form-wrapper align-items-center">
          <div class="form sign-in">
            <h2 style="margin-bottom: 1rem;">Reset your password</h2>
            <form method="post">
              {% csrf_token %}
              <div class="input-group">
                <i class="bx bx-mail-send"></i>
                {{ form.email }}
              </div>
              <button type="submit">Send reset link</button>
            </form>
            <p><a href="{% url 'account:register' %}">Back to login</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include 'main/message.html' %}
</body>
</html>
